# Manual Test Results

Implementing [Example Flow 2](ExampleFlows.md).

### Requires Pre Populated Data:
#### Recipes
| Id | name | instructions | difficulty | time | 
| -------- | ------- | ------- | ------- | ------- |
| 1 | Scrambled Eggs | Add oil to pan... | beginner | 10 |
#### Reviews
| Review_id | recipe_id | customer_id | rating | review | 
| -------- | ------- | ------- | ------- | ------- |
| 1 | 1 | 1 | 5 | I love this recipe |
#### Customers
| customer_id | customer_name |
| -------- | ------- |
| 1 | Robert California |